<nav id="app-navigation" class="navbar fixed-top navbar-expand-lg bg-transparent">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ url('app_homepage') }}">

            <picture class="app-logo">
                <source srcset="{{ asset('images/logo.png')| imagine_filter('app_logo_webp') }}" type="image/webp">
                <source srcset="{{ asset('images/logo.png')| imagine_filter('app_logo_png') }}" type="image/png">
                <img src="{{ asset('images/logo.png')| imagine_filter('app_logo_png') }}" alt="YtSeries Logo">
            </picture>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url('app_homepage') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Séries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courts Métrages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nouveautés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explorer par langue</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a class="btn btn-outline-success" href="">Login</a>
            </form>
        </div>
    </div>
</nav>
